# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage
.phpunit.cache
build
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
/.phpunit.cache
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.user.ini
php.ini
error_log
.DS_Store
/.DS_Store
