includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true

