includes:
    - ./vendor/worksome/coding-style/larastan.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkModelProperties: true
    parallel:
            processTimeout: 300.0

